@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .kudo-header {
        @apply text-3xl;
        font-size: 8cqw;
    }
}

.kudo-header-container {
    container-type: inline-size;
}

.rcp-dark {
    --rcp-background: #fc0202;
    --rcp-input-text: #f3f3f3;
    --rcp-input-border: rgba(255, 255, 255, 0.1);
    --rcp-input-label: #999999;
}