@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider {
    @apply h-6 w-full appearance-none rounded-3xl border border-gray-300 p-0.5 transition-opacity;
  }
}

body {
  --hue: 0;
  --sat: 100%;
  --lig: 50%;
}

.drawgrid {
  grid-template-areas: 'tools brush';
  grid-template-columns: 1fr 4fr;
  min-height: 15vh;
}

.slider-h {
  background: linear-gradient(
    to right,
    red 0%,
    #ff0 17%,
    lime 33%,
    cyan 50%,
    blue 66%,
    #f0f 83%,
    red 100%
  );
}
.slider-s {
  background: linear-gradient(
    to right,
    white 0%,
    hsl(var(--hue), 100%, 50%) 100%
  );
}
.slider-l {
  background: linear-gradient(
    to left,
    white 0%,
    hsl(var(--hue), var(--sat), 50%) 50%,
    black 100%
  );
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 19px;
  height: 19px;
  border: 1px solid #ddd;
  border-radius: 25px;
  background: white;
  cursor: pointer;
}
